/* Il menu di fianco */
.menu {
    height: 100%; 
    width: 0; /* La larghezza viene poi modificata con javascript */
    position: fixed; /* Resta stabile */
    /*z-index: 1; /* Stay on top */
    top: 0; /* Altrimenti il quando si apre menu la scritta Menu resta visibile */
    left: 0;
    background-color: #B8B8B8;
    overflow-x: hidden; /* Altrimenti si vedono i link del menu quando è chiuso */
    padding-top: 60px; 
    transition: 0.5s;
  }
  
  /* Link nel menu */
  .menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .menu a:hover {
    color: #A80000;
  }
  
  /* Stile del closebutton*/
  .menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  body.index{
    background-image: url('https://img.freepik.com/free-vector/minimal-geometric-stripe-shape-background_1409-1014.jpg?size=626&ext=jpg&ga=GA1.1.386372595.1698105600&semt=ais');/*url('https://img.freepik.com/premium-vector/abstract-white-monochrome-vector-background-design-brochure-website-flyer-geometric-white-wallpaper-certificate-presentation-landing-page_249611-5918.jpg');*/
    background-repeat: no-repeat;
    background-size: 100%;
  }
  div.Youth {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('sfondo_youth.jpg');
    color:antiquewhite;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 3px;

  }
  body.secondary{
    background-color: rgb(39, 39, 39);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  div.career{
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('Mavericks_Logo.jpg');
    background-size: 100%;
    height: 100%;
    background-repeat: no-repeat;
  }
  .career a{
    text-decoration: none;
    color: antiquewhite;
  }
  .secondary img{
    height: 100%;
    width: 100%;
  }
  iframe{
    height: 500px;
    width: 50%;
   }